.card {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    margin-right: 30px;
    text-align: center;
}

.card .btn {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.3s ease-in-out;
    border: 1px solid black;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}